:root {
  // Colors
  --purple-color: #6b5e9b;
  --blue-color: #729fcf;
  --light-blue-color: #97bae0;
  --green-color: #3faf46;
  --green-button-color: #00a933;
  --red-color: #f10d0c;
  --yellow-color: #e6e905;
  --border-color: #3768a6;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #999999;
}
